@import "../variables";

.button {
  color: $white;
  background-color: $black;
  border: none;
  font-size: 18px;
  line-height: 18px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 52px 0 52px;
  border-radius: 40px;
  width: fit-content;
}

.error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  img {
    width: 100px;
  }
}
