.dl-header {
  display: block;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    height: 56px;
    padding: 0 160px;
  }
}