.header_container {
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);


    .container {
        width: 80vw;
        padding: 14px 160px;
        margin: 0 auto;
        max-width: 1800px;
        display: flex;
        justify-content: space-between;

        .account {
            display: flex;
            align-items: center;
            column-gap: 5px;

            .user_name {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
                color: var(--grey_60)
            }
        }
    }


}