.wallet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.188rem;
    justify-content: space-between;
    padding-top: 24px;

    &__content {
        padding: 16px;
        background-image: url('../../../assets//images/vector-background.png');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    &__currency {
        display: flex;
        align-items: center;

        p {
            margin-left: 8px;
            color: #9AA5B1;
            font-weight: 400;
            padding: 18px 0;
        }
    }

    &__balance {
        color: #FFFFFF;
        font-size: 16;

        p {
            color: #fff;
            font-weight: 500;
        }
    }

    &__arrow {
        display: flex;
        justify-content: end;
    }
}