@import "../../../variables";

.tab {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding: 60px 160px 0 160px;

    .active {
        background: #F5F7FA;
        border-radius: 3px;
        color: $black;
        font-weight: 700;
    }

    &__menu button {
        display: block;
        background-color: inherit;
        color: $dark-grey;
        padding: 22px 16px;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 14px;
        width: 240px;
    }

    &__menu button:hover {
        background-color: #ddd;
    }

    &__menu button.active {
        background-color: #ccc;
    }

    &__content {
        padding: 0px 60px;
        width: 70%;
        border-left: none;
        height: 300px;

        h3 {
            font-size: $font-size * 2;
            font-weight: 700;
        }
    }

    &__content-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(211, 213, 216, 0.5);

        p {
            cursor: pointer;
            font-weight: 500;
            font-size: $font-size;
            line-height: $line-height;
            text-align: right;
            color: $black;
        }
    }
}