@import "../../variables";

.dashboard-layout {
  height: inherit;
  width: 100%;
}

.append {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(154, 165, 177, 0.3);
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-right: 5px;

  p {
    font-weight: $font-weight;
    font-size: $font-size + 2;
    line-height: $line-height + 2;
    color: $dark-grey;
  }
}