.alert {
    background: #FFF4F4;
    border: 1px solid #E0B3B2;
    border-radius: 8px;
    // min-height: 50px;
    margin-top: 45px;
    // display: flex;
    align-items: center;
    padding: 15px 20px;
}