.network_error {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 26px;

    .error_title {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: var(--black_60);
    }

    .try_button {
        padding: 18px 48px 18px 54px;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: var(--white_100);
        border-radius: 40px;
        background-color: var(--black_100);
        margin-top: 20px;
        cursor: pointer;
    }
}