@import "../../../variables";

.button {
    background: $black;
    border-radius: 40px;
    color: $white;
    min-width: 186px;
    height: 54px;
    text-align: center;
    border: none;
    font-weight: 400;
    font-size: $font-size + 2;
    line-height: 18px;
    text-align: center;
    cursor: $cursor;
    padding: 18px 54px;
}