.sidebar {
  padding-left: 10rem;

  &__menu {
    position: fixed;
    height: 100%;
    width: 240px;
    overflow: auto;
    margin: 0;
    padding: 0;
    padding-top: 50px;

    a {
      display: block;
      text-decoration: none;
      font-family: "Space Grotesk";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #000000;
      padding: 12px;

      &.active {
        background: #f5f7fa;
        border-radius: 3px;
        font-weight: 500;
      }

      &:hover:not(.active) {
        background: #f5f7fa;
        border-radius: 3px;
        font-weight: 500;
      }
    }
  }
}
