.main {
  padding-inline: 2em;
  align-items: center;
  justify-content: center;

  h1 {
    align-self: flex-start;
  }
}

.topBar {
  justify-content: space-between;
  border-bottom: 1px solid rgba(211, 213, 216, 0.5);
}

.top {
  justify-content: space-between;
  align-items: center;
}

.errorContainer {
  --gap: 2rem;
  align-items: center;
  .error {
    --gap: 0;
    place-items: center;
    border-radius: 50%;
    border: 5px solid #ffbdbd;
    width: 100px;
    height: 100px;
    margin-top: 4em;

    .line {
      width: 5px;
      height: 44px;
      background-color: #e12d39;
    }
    .point {
      height: 5px;
      width: 5px;
      background-color: #e12d39;
    }
    p {
      color: #3e4c59;
    }
  }
}

.try {
  border-radius: 40px;
  padding-block: 0.7em;
  padding-inline: 2em;
  width: max-content;
  background: #000000;
  border: none;
  color: #ffffff;
  transition: opacity 300ms ease-in-out;
}

.loading {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.cardList {
  --gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  .card {
    --gap: 1rem;
    width: 240px;
    min-height: 150px;
    border-radius: 10px;
    background-color: #111111;
    padding: 1em 0.7em;
    box-shadow: 0px 10px 20px rgba(138, 138, 138, 0.5);
    background-image: url(../../assets/plane.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .plus-symbol {
    --gap: 0.5rem;
    align-items: center;
    p {
      color: #9aa5b1;
      font-size: 14px;
    }
    .symbol {
      object-fit: cover;
      width: 34px;
      height: 34px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  h3 {
    font-size: 16px;
    span {
      margin-left: 4px;
    }
  }
  .next {
    display: flex;
    justify-content: flex-end;
    div {
      background: #303030;
      border-radius: 30px;
      height: 32px;
      width: 32px;
      place-items: center;
    }
  }
}
