@import "../../variables";

.wallet {

    &__add-new {
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height;
        color: $black;
        cursor: pointer;
    }

    &__error,
    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
}

.modal {
    padding: 74px 24px;

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: $line-height * 2;
        color: $black;
    }

    &__header {
        border-bottom: none;
    }

    &__close-icon {
        cursor: $cursor;
    }

    &__form {
        margin-top: 43px;
    }


    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: $dark-grey;
        padding: 49px 0px;
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form-button {
        margin-top: 27px;
        display: flex;
        justify-content: center;
    }

    &__error {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__error-message {
        display: flex;

        p {
            margin-left: 14px;
        }
    }

    &__error-icon {
        cursor: pointer;
    }
}