// DASHBOARD STYLING
.dashboard__main__content {
  margin-left: 30%;

  .wallets__main {
    padding-top: 20px;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      color: #000000;
    }

    &__row {
      margin: 0 -5px;
      height: 100%;
      
      ::after {
        content: "";
        display: table;
        clear: both;
      }
    }

    &__column {
      float: left;
      width: 30%;
      padding: 0 10px;
      margin-top: 15px;
    }
    @media screen and (max-width: 600px) {
      &__column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }

    &__card {
      background: #111111;
      box-shadow: 0px 10px 20px rgba(138, 138, 138, 0.5);
      border-radius: 10px;
      padding: 16px;
    }
  }
}
